* {
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: gray;


}

.todo__app {
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    background-color: aqua;
    margin: 50px auto;
}

.logo {
    text-align: center;
}

#form {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;

}

#form input {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#form button {
    width: 100px;
    cursor: pointer;
}

.todo__item {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.todo__item span {
    cursor: pointer;
    color: blue;

}



.remove--del button{
    background-color: blue;
    border: none;
    padding: 10px 10px;

}

.remove--del button:active{
    background-color: chartreuse;
    
}